<div class="landingPageContainer">
    <div class="landingPageResponsive">
        <div class="landingPageContent">
            <div class="landingpageContentLeft">
                <h1>Your Crypto Page</h1>
                <button (click)="visitCrypto()">Visit Crypto</button>
            </div>
            
            <div class="landingpageContentRight">
                <img src="./../../../../assets/img/start-page/light-big-data-background.png">
            </div>
        </div>
    </div>
</div>
